=RedCloth.new(question.label).to_html
%ol
  - question.answers.shuffle.each do |answer|
    %li
      .answer-check
        =check_box_tag "questions[#{question.id}][answers[#{answer.id}]]"
      .answer
        =answer.label
