%div
  %h1 Questions

  - form_tag '/questions/check', :method => :post do

    %ul#questions
      - @questions.each do |question|
        %li.question
          = render 'questions/_question', {}, question: question

    =submit_tag 'Check', class: 'btn btn-primary'
