body
  font-size: 12px
  font-family: sans-serif

#questions
  padding-left: 0
  .question
    line-height: 28px
    list-style: none
    padding-bottom: 20px
    ol li
      line-height: 24px
      list-style-type: upper-alpha
