!!! Strict
%html{:lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title Learn It
    =stylesheet_link_tag 'bootstrap-responsive'
    =javascript_include_tag 'jquery.min', 'bootstrap.min'
    %link{href: "/assets/application.css", media: "screen", rel: "stylesheet", type: "text/css"}
    %script{src: "/assets/application.js", type: "text/javascript"}
  %body
    #container
      =yield
